@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0c1022;
    z-index: 3;
}

.container{
    background: transparent;
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container:hover .box{
    width: 100px;
    transition: 0.5s;
}

.container:hover .box h2{
    width: 100px;
    transition: 0.5s;
    color: #ff0062;
    transform: rotateX(350deg);
}

.box{
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}


.box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,#d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.box::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,#00ccff);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box span{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: #0c1022;
    z-index: 1;
}

.box h2{
    position: relative;
    z-index: 2;
    color: white;
    font-size: 5rem;
    transition: 0.5s;
}

